@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,500;1,8..144,500&display=swap");

:root {
  --background: #f5f3ef;
  --card: #ffffff;
  --accent: #febd2f;
  --text-primary: #000000;
  --text-secondary: #646464;
  --outline: #dcdcdc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  display: grid;
  background-color: var(--background);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  grid-template-rows: auto auto auto 100px;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 8%;
  margin-bottom: 30px;
}

/* -- Navigation */
nav {
  display: flex;
  column-gap: 40px;
}

nav a {
  color: var(--text-primary);
}

/* -- Header Button */
.get-started {
  background-color: var(--text-primary);
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  border: none;
  padding: 16px 24px;
  border-radius: 30px;
}

/* -- Main Content */

main {
  display: grid;
  grid-template-columns: auto 50%;
  padding: 20px 8%;
  column-gap: 50px;
  margin-bottom: 50px;
}

main img {
  width: 100%;
}

.info h1 {
  font-size: 64px;
  font-weight: 500;
  font-family: "Roboto Serif";
  margin-bottom: 20px;
}

.info p {
  font-size: 22px;
  font-weight: 400;
  font-family: "Roboto";
  line-height: 1.5;
  color: var(--text-secondary);
}

/* -- Card Content */

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px 40px;
  padding: 20px 8%;
  margin-bottom: 70px;
}

.yellow-card {
  background-color: var(--accent);
  border-radius: 40px;
  padding: 40px;
  font-size: 24px;
  font-weight: 400;
  font-family: "Roboto Serif";
}

.detail-card {
  background-color: var(--card);
  border-radius: 40px;
  padding: 40px;
  position: relative;
}

.detail-card .icon {
  position: absolute;
  right: 30px;
  top: -40px;
}

.detail-card h3 {
  font-size: 24px;
  font-family: "Roboto Serif";
  font-weight: 600;
  margin-bottom: 10px;
}

.detail-card p {
  color: var(--text-secondary);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  font-family: "Roboto";
  margin-bottom: 70px;
}

.detail-card button {
  background-color: transparent;
  color: var(--text-primary);
  font-size: 18px;
  font-weight: 500;
  border: none;
  padding: 10px 24px;
  border-radius: 30px;
  border: solid 1px var(--outline);
  position: absolute;
  bottom: 36px;
}

/* -- Footer */

footer {
  display: flex;
  background-color: var(--accent);
  justify-content: center;
  align-items: center;
}
